{% extends 'base.html.twig' %}

{% block body %}


<div class="container">
  <table class="table" style="width:100%">
    {% for member in members %}
          <tr>
            <td>{{ member.name }}</td> 
            <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td> 
            <td>{{ member.favchar }}</td> 
            <td>{{ member.fanclub }}</td>
            <td><button class="button is-info">Remove Member</button></td>
            <td>

              <input class="js-choice" type="text"/>     


            </td>
          </tr>
      {% endfor %}
      
  </table>

    <div class="card">
      <div class="card-content">
        <input type="text" id="query">
        <ul id="result"></ul>
      </div>      
    </div>
</div>
{% endblock %}